/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body,
html {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100vw;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: auto;
}

nav ul {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  display: inline-flex;
} 

nav ul li a{
  text-decoration: none;
  margin-left: 10px;
  color: white;
}

/* Main Content */
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
}

.store-item {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
  height: auto;
  width: 100%;
  min-height: 250px;
  flex-wrap: wrap;
}

.store-item p{
  padding-bottom: 1rem;
}

.store-item img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
}

.store-item span {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  width: 100%;
}
